{% load static %}  
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Bootstrap Simple Login Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
 -->
</style>
</head>
<body>

        <div class="column" align="center"  style="margin-top: 7%;">
             <a href="#"><h2>WELCOMES TO THE USTECH ASSIGNMENT </h2></a>
        </div>
        <div class="row" style="margin-top: 7%;">     
            <div class="col-md-2">
            </div>
            <div class="col-md-3">
                <a href="/team-list/" target="_blank" class="btn btn-primary btn-block">ALL TEAMS</a>
            </div>
            <div class="col-md-3">
                <a href="/points-table/" target="_blank" class="btn btn-primary btn-block">POINT TABLE</a>
            </div>
            <div class="col-md-3">
                <a href="/matches/" target="_blank" class="btn btn-primary btn-block">ALL MATCHES</a>
            </div>
        </div>
</body>
</html>{% endblock %}
