{% load static %}  
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    </head>

    <body>

        <div class="column" align="center" >
             <a href="#"><h2>ALL MATCHES </h2></a>
        </div>
        <div class="row" style="margin-top: 7%;">     
		    <div class="col-md-2"></div>
		    <div class="col-md-8">
            <table id="team_list" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Teams</th>
                        <th>Result</th>
                        <th>Win Team</th>                     
                    </tr>
                </thead>
                <tbody>
                  {% for data in all_matches %}
                    <tr>
                      <td>{{data.team_one}} vs {{data.team_two}} </td>
                      <td>{{data.result| title }} </td>
                      <td>{{data.win| default_if_none:"--"}} </td>
                      
                    </tr>

                  {% endfor %}
                </tbody>
            </table>
		    </div>
		    </div>
    </body>


</html>

<script type="text/javascript">
$(document).ready(function() {
    $('#team_list').DataTable();
} );
</script>

{% endblock %}
