{% load static %}  
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    </head>
    <body>

        <div class="column" align="center" >
             <a href="#"><h2>PLAYERS</h2></a>
        </div>

        <div class="row" >     
            <div class="col-md-3"></div>
            <div class="col-md-6"><h2>{{team_name|title}}</h2></div>
        </div>
        <div class="row" style="margin-top:2%">     
		    <div class="col-md-3"></div>
		    <div class="col-md-6">
            <table id="player_list" class="display" style="width:100%">
                <thead>
                    <tr>
                      <th>Logo</th>
                      <th>Name</th>
                      <th>Speciality</th>
                    </tr>
                    
                </thead>
                <tbody>
                   {% for data in all_data %}
                      <tr>
                        <td style="width: 10%;"><a href="/player-details/{{ data.id }}/"><img src="/static/player_logo/{{data.imageUri}}" width="40px" height="40px"> </a></td>
                        <td><a href="/player-details/{{ data.id }}/">{{data.first_name |title}} {{data.last_name |title}}</a></td>
                        <td>{{data.speciality|title}}</td>  
                      </tr>

                    {% endfor %}
                </tbody>
            </table>
			</div>
		</div>
    </body>


</html>

<script type="text/javascript">
$(document).ready(function() {
    $('#player_list').DataTable();
} );
</script>
{% endblock %}
