{% load static %}  
{% block content %}
<!DOCTYPE html>
<html>
    <head>

        <link  rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>

        <style>
            table {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 100%;
            }

            th {
              border: 5px solid #dddddd;
              text-align: left;
              padding: 8px;
            }

            td{
              text-align: left;
              padding: 8px; 
            }
            
            tr:nth-child(even) {
              background-color: #dddddd;
            }
            /*input[type=text] {
                width: 100%;
                padding: 1px 1px;
                margin: 15px 0;
                box-sizing: border-box;
                border-radius: 4px;
            }*/
            .td_style{

            }
        </style>
    </head>
    <body>

        <div class="column" align="center" >
             <a href="#"><h2>PLAYER DETAILS</h2></a>
        </div>
        <div class="row" style="margin-top: 5%;">     
		    <div class="col-md-3"></div>
		    <div class="col-md-6">
            <div class="bg-primary bg-primary-2 p-4 pb-0 rounded mb-4">
                <div class="d-flex text-white">
                    <div class="" id="thumbnail"><img src="{{player_img}}" width="110" height="110" class="rounded-circle"></div>
                    <div class="p-2 flex-grow-1 pl-4 align-self-center">
                        <h4 id="candidate_name">{{data }}</h4>
                        <p class="mb-0" id="candidate_phone">{{speciality | title}}</p>
                        
                    </div>
               </div>
            </div>
		        <table>
		              <tr>
		                <td class="td_style"> Matches </td><td> {{data.matches}}</td>

		              </tr>
                  <tr>
                    <td class="td_style">Innings</td><td> {{data.innings}}</td>

                  </tr>
                  <tr>
                    <td class="td_style">Runs</td><td> {{data.runs}}</td>

                  </tr>
                  <tr>
                    <td class="td_style">Highest Score</td><td> {{data.highest_score}}</td>

                  </tr>
                  <tr>
                    <td class="td_style">100's</td><td> {{data.hundreds}}</td>

                  </tr>
                  <tr>
                    <td class="td_style">50's</td><td> {{data.fifties}}</td>

                  </tr>
                  <tr>
                    <td class="td_style">Wicket</td><td> {{data.wickets}}</td>

                  </tr>
		        </table>
			 </div>
		</div>
    </body>


</html>

<script>

  $(document).on("click", ".checkout_space", function () {
   var id = $(this).data('id');
   $(".modal-footer #checkout-href").attr("href", "{{SITE_URL}}/car/car-check-out/"+id+"/");
});

$('#check-out-car').click(function(){
   		$('#myModal').modal('hide')
   	 });
</script>

{% endblock %}
