{% load static %}  
{% block content %}
<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    </head>

    <body>

        <div class="column" align="center" >
             <a href="#"><h2>POINTS TABLE</h2></a>
        </div>
        <div class="row" style="margin-top: 7%;">     
		    <div class="col-md-3"></div>
		    <div class="col-md-6">
            <table id="point_table" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Team</th>
                        <th>Win</th>
                        <th>Lost</th>
                        <th>Draw/Tie</th>
                        <th>Point</th>
                    </tr>
                </thead>
                <tbody>
                  {% for data in all_teams %}
                  <tr>
                      <td><a href="/team-details/{{ data.id }}/">{{ data.name }}</a>  </td>
                      <td> {{ data.win_count }} </td>
                      <td> {{ data.lost_count }} </td>
                      <td> {{ data.draw_count }} </td>
                      <td> {{ data.total_point }} </td>
                  </tr>

                  {% endfor %}
                </tbody>
            </table>
			</div>
		</div>
    </body>


</html>

<script>
$(document).ready(function() {
    $('#point_table').DataTable({

    "order": [[ 4, "desc" ]]
  });

} );
</script>

{% endblock %}
