{% load static %}  
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    </head>
    <body>

        <div class="column" align="center" >
             <a href="#"><h2>ALL TEAMS</h2></a>
        </div>
        <div class="row" style="margin-top: 7%">     
            <div class="col-md-3"></div>
            <div class="col-md-6">
            <table id="team_list" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Logo</th>
                        <th>Team Name</th>
                      
                    </tr>
                </thead>
                <tbody>
                   {% for team in team_instance %}
                    <tr>
                        <td style="width: 10%;"><a href="/team-details/{{ team.id }}/"><img src="{{team.logoUri }}" width="40px" height="40px"></a></td>
                        <td><a href="/team-details/{{ team.id }}/">{{team.name |title}}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
          </div>
        </div>
    </body>


</html>

<script type="text/javascript">
$(document).ready(function() {
    $('#team_list').DataTable();
} );
</script>
{% endblock %}
